img.head
    {
    display: block;
    max-width: center;
    margin: auto;
    background: black;
    padding: 10px
    }
body
{
    background-image: url('eclipce.jpg');
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    display: block;
    max-width: center;
    margin: auto;
    text-align: center;
    
}

h1
{
    color: lightgoldenrodyellow;
    margin: auto;
    background: black;
    padding: 10px  
}
h2
{
    color:LightGoldenRodYellow;
    display: block;
    margin-left: center;
    margin-right: center;
    width: 80em;
}
h3
{
    color:LightGoldenRodYellow;
    position:center;
    margin-left: 20%;
    margin-right: 20%;
    width: center;

    border-width: middle
}
h4{
    color:LightGoldenRodYellow;

    
}
h5{
    color:LightGoldenRodYellow;
}
h6{
    color:LightGoldenRodYellow;

}
details
{
    color:LightGoldenRodYellow;
    margin-left: 30%;
    margin-right: 30%;
}
summary
{
    color:LightGoldenRodYellow;

  
}
iframe{
    
    max-width: center;
    margin: auto;
    background: black;
    padding: 15px
    
}
footer{
    height: 50px;
    background-color:rgb(39, 74, 151);
    border-width: middle
}